@page "/summary"
@model RCSDolg.Pages.SummaryModel

@{
    ViewData["Title"] = "Összesítés";
}

<h1>Településenkénti összesítés</h1>

<table class="table">
    <thead>
        <tr>
            <th>Település</th>
            <th>Barlangok száma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Summary)
        {
            <tr>
                <td>@item.Telepules</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
